<h1>Welcome to the GOALdiggers</h1>

<div class="what">
  <h3>What is GOALdigger?</h3>
    <p>The importance of setting goals, blah blah blah</p>
</div>

<div class ="why">
  <h3>Why should I set goals?</h3>
    <p>The first step in achieving your goals is setting them</p>
</div>

<div class ="how">
  <h3>What is the process of setting goals</h3>
    <p> An easy way to break goals down is by timeline and category. It's best to work backwards, starting from 10 or 5 years from now. That way the goals you set for 1 year from now are in line with helping you achieve your longer term goals. It is easy to lose sight of your goals if you only set long-term ones. On the other hand, if you only create goals for the next week or month it is easy to let those slip after you achieve them. By setting both you have a big picture goal that inspires you as well as attainable milestone-goals that motivate you each step of the way. <p>
    <div class="goal-steps">
      <h4>Tips to crushing your goals</h4>
        <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
    </div>
</div>
