<div class="container-fluid">
  <h3><%=link_to "Create your Own Goals", new_profile_path%></h3>
  <h1>Get to know some GOALdiggers</h1>
  <div class="row">
    <div class="col-sm-3 col-md-4" style="background-color:yellow;">
      <h3>Name</h3>
      <img>
      <p> quote </p>
    </div>
    <div class="col-sm-3 col-md-4" style="background-color:pink;">
      <p>Name</p>
    </div>
    <div class="col-sm-6 col-md-4" style="background-color:yellow;">
      <p>Name</p>
    </div>
  </div>
</div>
